/*! portfolio/styles.scss*/
img {
  width: 100%; }

/*text*/
h1, h2, h3{
	font-family: 'Abril Fatface', cursive;
      text color: #585858;

}

h1{
  font-size: 4em;
  color: #585858;
}

h4, h5, h6{
	font-family: 'lato', sans-serif;
      text color: #585858;

}

p, li{
	font-family: 'Lato', sans-serif;
}

/*Links*/
a {
	text-decoration: none;
	color: #585858;
}

a:hover{
  color: #be4c39;
  text-decoration: none;
}


.btn:hover, .btn:active{
  background-color: #be4c39;
  color: white;
}



footer{
  background-color: #585858;
  color: #fff;
  height: 22px;
  text-align: right;
  padding: 20px 20px;
  height: 25px;

}

/*First Row*/
.nameplate {
	text-align: center;
}

.nameplate h1{
	font-size: 4.5em;
      padding-top: 2em;
}

.map {
	text-align: center;	
  padding-top: 1em;
  padding-bottom: .8em;
}

.map ul {
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
  }

  .map li{
  	padding: 5px;
  }

  .map li{
  	display: inline;
  }

  .map a{
  	text-decoration: none;
  	color: #585858;;
  }

  .map a:hover{
    color: #be4c39;
  }

.services {
	text-align: center
}


.services a:link{
color: #585858;
}

.services a.hover{
  color: #be4c39;
}

.services a.visited{
  color: #585858;
}

.services a:active{
  color: #be4c39;
}

  .services ul{
  	list-style-type: none;
	
  }

  .services li{
  	display: inline;

  }

  .bio{
    text-align: center;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 1em;
  }

.arrows {
  text-align: center;
  font-style: italic;
}


./*rw-date {
  color: blue; }

.start-date {
text-align: center;
vertical-align: middle;
  border: 3px ;
  border-style: solid;
  border-color: #585858;
  height: 50px;
  width: 60px;
  padding: 5px;
  padding-bottom: 45px;
  color: #585858; 


}

.end-date {
  text-align: center;
  vertical-align: middle;
  border: 3px ;
  border-style: solid;
  border-color: #585858;
  height: 50px;
  width: 60px;
  padding: 5px;
  padding-bottom: 45px;
  color: #585858; 
  
   }

  .line {
  	height: 15px;
  	margin-top: 50px;
  	margin-bottom: 50px;
  	top: 0;
	bottom: 0;
	  position: absolute;
	  content: " ";
	  width: 3px;
	  background-color: #eeeeee;
	  left: 50%;
	  margin-left: -1.5px; 
  }
*/





/*Recent Work*/


.recent-work-list {
  
}

.bar{
  width: 7em;
  height: .8em;
  background-color: #be4c39;
  margin-top: 3em;
  margin-bottom: -.4em;
}

.recent-work-list h2{
  font-size: 2.4em;
  line-height: 28px;
  margin-bottom: 25px;
  margin-top: 15px;
  color: #4d4d4d;
}

.recent-work-list a:hover{
  color: #be4c39;
}

.recent-work-list a{
  color: #585858;
}

.recent-work-list > a:active {
  text-decoration: none;
  color: #be4c39;
}

.rw-info {
  color: #585858;
}

.rw-info h5{
  margin-top: 1.3em;
}

.rw-info h2{
 line-height: 1.3em;
 margin-top: -5px;
 margin-bottom: -2px;
}

.timeline-container h2{
  font-size: 2.4em;
  line-height: 28px;
  margin-bottom: 25px;
  margin-top: 15px;
  color: #4d4d4d;
}




/*Resume */





/*media queries */


  @media all and (max-width: 34em) {


}


@media all and (min-width: 45em) {
  .rw-info h5{
  margin-top: 0em;
}

	


}

@media all and (min-width: 54em) {

.rw-info h5{
  margin-top: 0em;
}
	

}

/*# sourceMappingURL=styles.css.map */
