$mygray: #4d4d4d;
$myred: #be4c39;
$myblue: #4B6892;




html{
	color: $mygray;
	// padding-left: 15%;
	// padding-right: 15%;
}

body{
	max-width: 2000px;
	margin: 0 auto;
}

h1,h2,h3{
	font-family: 'Abril Fatface', sans-serif;
	color: $mygray;
}
p, h4,h5,h6,li{
	font-family: lato, sans-serif;
}
h1{	
	font-size: 5em;
}
h2{
	font-size: 3em;
}
h3{
	font-size: 2em;
}
p{
	line-height: 1.5em;

	font-size: 18px;
}

a{
	color: $myred;
	text-decoration: none;
}
a:hover{
	color: $myblue;
}

	
i{
	font-style: italic;
}
li{
	font-size: 1.2em;
	line-height: 1.5em;
}

header{

	width: 80%;
	margin-left: 10%;
	margin-top: 3em;

	text-align: center;
	h1{
		width: 100%;
		margin-bottom: .5em;
	}
	img{
		max-width: 250px;
		float:right;

	}
	p{
		
		display: block;
		max-width: 60%;
		

		margin: 0 auto;
		margin-bottom: 1em;
		
	}
}



article{

	width: 80%;
	margin-left: 10%;
	.bar{
		margin-bottom: 1em;
	}
}

.work{
	// content: '';
	// display: block;
	// width: 100%;
	// height: 0;
	// clear: both;
	display: inline-block;
	width: 100%;
	margin-bottom: 3em;
	
	img{
		max-width: 47.5%;
		margin-right: 5%;
		// margin-bottom:5em;
		float:left;
	}
	.text{
		margin-left: 0%;
		max-width: 100%;
    	float: none;

	}

	
	h3{
		margin-top: .5em;
	}
	h4{
		margin-top: 1em;
	}
	p{
		margin-top: .5em;
	}



}

.bar{
  width: 6em;
  height:  1.2em;
  background-color: #be4c39;
  margin-bottom: 1em;
  margin-top: 1em;

}
.section{
	margin-bottom: .75em;
}

button{
	color: #585858;
	background-color: #fff;
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	border-color: #ccc;
	border-radius: 4px;
	margin-top: .5em;

}

button:hover{
	background-color: $myred;
	color: white;
}

section{
	text-align: center;
	

}

// load more
.extra-work{
	h3{
		display: inline-block;
		width: 47.5%;
		vertical-align: top;
		text-align: right;
		margin-bottom: 4em;
		margin-right: 5%
	}
	ol{
		width: 47%;
		display: inline-block;
	
		text-align: left;
		
		font-size: .75em;
		margin-bottom: 3em;


	}
	li{
		border-bottom: 1px solid black;
		padding-top: 1em;
		padding-bottom: 1em;
		a{
			font-size: 1.2em;

		}
		&:first-child{
			padding-top: .75em;
		}
		&:last-child{
			border-bottom: none;
		}
		

	}
}
// ipad
@media (max-width: 768px){
	html{
		// padding-left: 10%;
		// padding-right: 10%;
	}
	header{
		p{
			max-width: 75%;
			margin-left: 15%;
		}
	}
	.work{
		margin-bottom: 3em;
		img{
			float: left;
			max-width: 50%;
		}
		.text{
			max-width: 45%;
    		float: right;
		}
		

	}

	
	.fa-angle-down{
		display: block;
		margin: 0 auto;
	}
	.work-arrow{
		text-align: center;
		display: block;	
		margin: 0 auto;

	}
	h3{
		font-size: 1.5em;
	}
	
}



@media (max-width: 500px){
	p{
		line-height: 1.2em;
		font-size: 15px;
		text-align: left;
		margin-let: 0%;	
	}
	h1{
		font-size: 4.5em;
	}
	h2{
		font-size: 2em;
	}
	.bar{
		height: .89em;
		width: 4em;
		margin-bottom: .2em;
	 
	}
	html{
		// padding-left: 5%;
		// padding-right: 5%;
	}
	header{
		width: 100%;
		margin-left: 0%; 
		font-size: .6em;
		h1{
			width: 100%;
			margin-left: 5%;
			text-align: left;
		}
		p{
			max-width: 90%;
			margin-left: 5%;
		}
	}
	.fa-angle-down{

		float: left;
		margin-left: 10px;
		
	}
	.work-arrow{
		margin-left: 5%;
		float: left;
	}
	article{
		max-width: 90%;
		
		margin-top: 4em;
		margin-left: 5%;
		h2{
			// width: 300px;
			margin-bottom: .5em;
		}
	}
	.work{
		margin-bottom: 4em;
		img{
			min-width: 100%;
		
			margin-bottom: 1em;

			// display: none;
		}
		h2{
			margin-top: .25em;
			line-height: 1.2em;
		}
		h4{
			margin-top: .75em;
		}
		p{
			margin-top: .75em;
		}
		button{
			margin-top: .75em;
		}
		.text{
			max-width: 100%;
    		float: none;
		}
		
	}
}

// article > .work{
// 	color: blue;
// }
article#work > .work:last-child{
	float: left
}



