html {
  color: #4d4d4d; }

body {
  max-width: 1500px;
  margin: 0 auto; }

h1,
h2 {
  font-family: 'Abril Fatface', sans-serif;
  color: #4d4d4d; }

p,
h3,
h4,
h5,
h6,
li {
  font-family: lato, sans-serif; }

h1 {
  font-size: 40px;
  text-shadow: 1px 1px #ccc; }

h3 {
  font-size: 25px;
  letter-spacing: 0.02em;
  line-height: 25px;
  font-weight: 900;
  margin-bottom: 10px; }

p {
  line-height: 24px;
  font-size: 16px; }

a {
  color: #be4c39;
  text-decoration: none; }

a:hover {
  color: #be4c39; }

li {
  list-style: none; }

article {
  width: 90%;
  margin-left: 5%; }

.bar {
  width: 67px;
  height: 12px;
  background-color: #be4c39;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 5%; }

header {
  margin-top: 3em;
  max-width: 90%;
  margin-left: 5%; }
  header h1 {
    margin-top: -0.5em; }
  header p {
    margin-bottom: 1em; }
  header #tldr {
    font-weight: 700;
    padding-top: 1em; }
  header .header-intro {
    max-width: 75%; }
  header .header-shape {
    margin-left: 2%;
    position: absolute;
    top: 3%;
    right: 10%;
    margin-left: 2em;
    z-index: -1 !important; }
  header .header-text {
    max-width: 800px; }
  header .shape {
    background-image: url("../../img/miface.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    width: 100px;
    height: 100px;
    shape-outside: circle(50%); }
  @media (min-width: 600px) {
    header h1 {
      font-size: auto; }
    header .header-intro {
      max-width: 75%;
      width: auto;
      height: auto;
      display: inline-block; }
    header .header-shape {
      top: 1em;
      right: 0%;
      position: relative;
      margin-left: 2%;
      display: inline-block; } }
#work-container {
  margin-left: 5%; }
  #work-container li {
    display: block;
    padding: 7px 5px 7px 0;
    background-color: white;
    color: #a3a3a3;
    border-bottom: 3px solid white; }
    #work-container li .inlineDate {
      color: #a3a3a3; }
    #work-container li a {
      color: #4d4d4d; }
    #work-container li:hover {
      border-bottom: 3px solid #722d22;
      background-color: rgba(190, 76, 57, 0.9);
      color: white;
      padding-left: 10px; }
      #work-container li:hover a {
        color: white; }
      #work-container li:hover .inlineDate {
        color: white; }
    @media (min-width: 900px) {
      #work-container li {
        display: block;
        max-width: 800px; } }
  @media (min-width: 900px) {
    #work-container ol {
      width: auto;
      display: inline-block;
      text-align: left;
      margin-bottom: 2em; }
    #work-container .latestWork {
      margin-top: 1.5em; } }
@media (min-width: 900px) {
  .hidden-small {
    display: inline-block; } }

@media (min-width: 600px) and (max-width: 640px) {
  header .header-shape {
    top: 0em; } }

.latestWork {
  margin-top: 1.5em; }

.header-links > i {
  display: inline;
  margin-right: 5px; }

.header-links > a {
  font-family: lato, sans-serif;
  display: inline;
  margin-right: 10px; }

.endingSpace {
  height: 20vh;
  width: auto; }
