#g-lg-lead-Artboard_1 .g-aiPstyle0 {
  font-family: 'Roboto Slab', serif;
  color: #ffffff;
  text-shadow: 3px 3px rgba(25, 25, 25, 0.2); }

#map {
  height: 300px;
  margin-top: 7em; }

.lead {
  width: 50%;
  margin-left: 25%;
  text-align: left;
  margin-top: 1%; }

h2.photoquote {
  line-height: 1.25em;
  margin-bottom: .5em;
  margin-top: .5em; }

.title h3 {
  padding-top: .75em; }

@media (max-width: 767px) {
  #g-lg-lead-Artboard_1 .g-aiPstyle0 {
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    font-size: 3.2em;
    line-height: 1em;
    margin-top: -10%; } }

@media (min-width: 575px) {
  #g-lg-lead-Artboard_1 .g-aiPstyle0 {
    font-size: 4em;
    line-height: 1em; } }

@media (min-width: 768px) {
  #g-lg-lead-Artboard_1 .g-aiPstyle0 {
    color: #ffffff;
    font-size: 4em; } }

@media (min-width: 992px) {
  #g-lg-lead-Artboard_1 .g-aiPstyle0 {
    font-size: 5em;
    line-height: 1em; } }

@media (min-width: 1200px) {
  #g-lg-lead-Artboard_1 .g-aiPstyle0 {
    font-size: 6em;
    margin-left: 10%; } }

@media (min-width: 1500px) {
  #g-lg-lead-Artboard_1 .g-aiPstyle0 {
    font-size: 8em;
    margin-left: 10%; } }
